GOOGLE_APPLICATION_CREDENTIALS=C:\finmap-secrets\finmap-search-reader.json
GSC_PROPERTIES=
GSC_SEARCH_TYPE=web
GSC_DATA_LAG_DAYS=3

GA4_PROPERTY_ID=
GA4_DATA_LAG_DAYS=2
GA4_TIMEZONE=Asia/Seoul

BING_SITE_URL=https://www.finmaphub.com/
BING_WEBMASTER_API_KEY=

SEARCH_REPORT_TIMEZONE=Asia/Seoul
SEARCH_DEFAULT_DAYS=7
SEARCH_COMPARE_DAYS=7
SEARCH_TREND_DAYS=28
SEARCH_API_TIMEOUT_MS=30000
